body, html {
	height:100%;
}
body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
}

.wrap {
	width: 1280px;
	height: 100%;
}

.layout_content {
	border: 1px solid #c8cdd3;
	min-height: 800px;
}