<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.alphaknow.process.mapper.BomMapper">
    <select id="findBOMItemsByBomId" resultType="com.spring.alphaknow.dto.BOMItem">
        SELECT
         bi.* 
        FROM 
         BOM_Items bi
        JOIN BOM_header bh ON bi.BOM_ID = bh.BOM_ID
        WHERE
         bh.product_seq =  #{product_seq}
         
    </select>
</mapper>
