<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.alphaknow.process.mapper.ProcessCodeMapper">


    <!-- 모든 프로세스 코드 정보 조회 -->
    <select id="getAllProcessCodes" resultType="ProcessCodeDTO">
        SELECT * FROM ProcessCode
    </select>

    <!-- 프로세스 코드 추가 -->
    <insert id="addProcessCode" parameterType="processCodeDTO">
        INSERT INTO ProcessCode 
        (sequenceNo, code, errorCode, processAbbreviation,
        processAlias, processType, standard, standardWorkingTime,
        fakeFaultWarning, genuineFaultWarning, repeatable)
        VALUES 
        (equipment_seq.NEXTVAL, #{code}, #{errorCode}, #{processAbbreviation},
        #{processAlias}, #{processType}, #{standard}, #{standardWorkingTime},
        #{fakeFaultWarning}, #{genuineFaultWarning}, #{repeatable})
    </insert>

    <!-- 프로세스 코드 삭제 -->
    <delete id="deleteProcessCode" parameterType="int">
        DELETE FROM ProcessCode WHERE sequenceNo = #{sequenceNo}
    </delete>


	<delete id="deleteProcessCodes" parameterType="list">
	    DELETE FROM ProcessCode WHERE sequenceNo IN
	    <foreach item="sequenceNo" collection="list" open="(" separator="," close=")">
	        #{sequenceNo}
	    </foreach>
	</delete>

	
    <!-- 프로세스 코드 정보 업데이트 -->
    <update id="updateProcessCode">
        UPDATE ProcessCode
        SET code = #{code}, errorCode = #{errorCode}, processAbbreviation =
        #{processAbbreviation}, processAlias = #{processAlias}, processType = #{processType}, 
        standard = #{standard}, standardWorkingTime = #{standardWorkingTime}, 
        fakeFaultWarning = #{fakeFaultWarning}, genuineFaultWarning = #{genuineFaultWarning}, 
        repeatable = #{repeatable}
        WHERE sequenceNo = #{sequenceNo}
    </update>

   <select id="processCodeSelect" parameterType="processCodeDTO" resultType="processCodeDTO">
	    SELECT sequenceNo, code, errorCode, processAbbreviation, processAlias, 
	    processType, standard, standardWorkingTime, fakeFaultWarning, 
	    genuineFaultWarning, repeatable
	    FROM PROCESSCODE
	    WHERE sequenceNo = #{sequenceNo}
	</select>


    

</mapper>
